.form{
    display: flex;
    margin-top: 50px;
    background-color:  #272832;
    width: 30%;
    padding-top: 30px;
    padding-bottom: 40px;
    
    border-radius: 12px;
    margin: auto;
    align-items: center;
    flex-direction: column;
}
input{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;

}
.login-input{
    width: 300px;
}